{{ $limit := .Get "limit" | default 6 }}
<ul class="kgd-list">
  {{ range first (int $limit) (where .Site.RegularPages "Section" "project") }}
    <li class="kgd-list-item">
      <a href="{{ with .Params.external_link }}{{ . }}{{ else }}{{ .RelPermalink }}{{ end }}">
        {{ with .Params.image }}<img class="kgd-list-thumb" src="{{ . | relURL }}" alt="{{ $.Title }}">{{ end }}
        <div class="kgd-list-body">
          <span class="kgd-list-title">{{ .Title }}</span>
          {{ with .Params.summary }}<span class="kgd-list-sum">{{ . }}</span>{{ end }}
          {{ with .Date }}<time class="kgd-list-date">{{ .Format "2006-01-02" }}</time>{{ end }}
        </div>
      </a>
    </li>
  {{ end }}
</ul>
